@font-face {
    font-family: emulogic;
    src: url("../fonts/emulogic.ttf");
}

#gameScreen,
#gameHUD {
    width: 1120px;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

#gameScreen {
    height: 640px;
}

#gameHUD {
    height: 128px;
    margin-bottom: -5px;
    background-color: black;
}